* {
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  background-color: antiquewhite;
  h1 {
    text-align: center;
    padding-top: 5rem;
  }
  h3 {
    font-size: 24px;
    padding-block: 2rem;
  }
  button {
    padding: 10px;
    border-radius: 1rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  .botones {
    margin-left: 3rem;
  }

  .redis {
    display: flex;
    justify-content: space-around;
  }

  .casita {
    position: relative;
    border: 1px solid black;
    margin-top: 5rem;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .cielo {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .suelo {
      position: absolute;
      width: 100%;
      object-fit: cover;
    }
    .arbol {
      transform: translate(19rem, -5rem);
      width: 50%;
    }
    .estrella {
      position: absolute;
      transform: translateY(-28rem);
    }
    .nube {
      transform: translate(-15rem, -25rem);
    }
    .house {
      position: absolute;
      width: 50%;
    }
  }
}
