.section-1 {
  height: 600px;
  background-image: url('/images/frogs_bg_01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;

  .div-foto-bg {
    margin-right: 3rem;
    width: 50%;
    span {
      font-size: 20px;
    }
    h1 {
      font-size: 68px;
    }
  }
}
