header {
  background-color: blue;
  h1 {
    padding-bottom: 1rem;
    color: yellow;
  }
}

img {
  width: 200px;
}
.h2-section {
  font-size: 2rem;
  text-align: center;
}

.padres-section {
  display: flex;
  justify-content: center;
}
